<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/gender_pay_gap/Frontend/public/css/style.css">

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#">
            <b>GOV.UK</b>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Register
                        <span class="sr-only">
                            (current)
                        </span>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/info">Employers Info</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Report</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Language
                  </a>

                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">Español</a>
                  </div>
              </li>
            </ul>
        </div>
    </nav>

    <title>Employer Information</title>
    <style>
        body{
          background-color: #f6e5cb;
          width: 100%;
          margin: 0;
        }
        .container{
          margin-top: 10px;
          width: 100%;
          margin-left: 10px;
        }

        .navbar{
          background-color: #d76483;
          width:100%;
        }

        .btn{
          margin-top: 15px;
        }

        .btnContainer{
          width: 100%;
          
          display: flex;
          justify-content: center;
        }

        .dropdown-menu {
          margin-left: -50px; 
        }
    </style>
  </head>

  <body>
    <div class="container">
        <div class="container-title-info"></div>
            <h1>Employer Information</h1>
            <br>
            <br>
            <h2>Buscador</h2>
            <div>
              <form action="/info" method="GET">
                  <input type="text" name="search" id="search" placeholder="Search..." value="<%= typeof search !== 'undefined' ? search : '' %>">
                  <button type="submit">Buscar</button>
              </form>
          </div>
                      <br>
            <br>
            <table id="tableEmployer" class="table table-hover">
                <thead>
                    <tr>
                        <th style = "display: none;">ID</th>
                        <th>Employer Name</th>
                        <th>Address</th>
                        <th>Post code</th>
                        <th>dif % In Mean Hourly Wage</th>
                        <th>dif % In Median Hourly Wage</th>
                        <th>dif % In Mean Bonus Received</th>
                        <th>dif % In Median Bonus Received</th>
                        <th>% Males Received Bonus</th>
                        <th>% Females Received Bonus</th>
                        <th>Proportion Males In Lower Quartile</th>
                        <th>Proportion Females In Lower Quartile</th>
                        <th>Proportion Males In Lower Middle Quartile</th>
                        <th>Proportion Females In Lower Middle Quartile</th>
                        <th>Proportion Males In Upper Middle Quartile</th>
                        <th>Proportion Females In Upper Middle Quartile</th>
                        <th>Proportion Males In Top Quartile</th>
                        <th>Proportion Females In Top Quartile</th>
                        <th>Link to Company GPG</th>
                        <th>Responsible Person</th>
                        <th>Employer size</th>
                        <th>Current Name</th>
                        <th>Submitted After The Deadline</th>
                        <th>Company ID</th>
                    </tr>
               
                </thead>

                <tbody>
                    <% if (employers.length === 0) { %>
                        <tr>
                            <td colspan="25">No hay empleadores disponibles.</td>
                        </tr>
                    <% } else { %>
                        <% employers.forEach((employer) => { %>
                            <tr>
                                <td style = "display: none;"><%= employer['_id'] %></td>
                                <td><%= employer['Employer Name'] %></td>
                                <td><%= employer['Address'] %></td>
                                <td><%= employer['Postcode'] %></td>
                                <td><%= employer['Percent Difference in Mean Hourly Wage'] %></td>
                                <td><%= employer['Percent Difference in Median Hourly Wage'] %></td>
                                <td><%= employer['Percent Difference in Mean Bonus Received'] %></td>
                                <td><%= employer['Percent Difference in Median Bonus Received'] %></td>
                                <td><%= employer['Percentage of Males that Received a Bonus'] %></td>
                                <td><%= employer['Percentage of Females that Received a Bonus'] %></td>
                                <td><%= employer['Proportion of Males in Lower Quartile'] %></td>
                                <td><%= employer['Proportion of Females in Lower Quartile'] %></td>
                                <td><%= employer['Proportion of Males in Lower Middle Quartile'] %></td>
                                <td><%= employer['Proportion of Females in Lower Middle Quartile'] %></td>
                                <td><%= employer['Proportion of Males in Upper Middle Quartile'] %></td>
                                <td><%= employer['Proportion of Females in Upper Middle Quartile'] %></td>
                                <td><%= employer['Proportion of Males in Top Quartile'] %></td>
                                <td><%= employer['Proportion of Females in Top Quartile'] %></td>
                                <td><%= employer['Company Link To GPG Info'] %></td>
                                <td><%= employer['Responsible Person'] %></td>
                                <td><%= employer['Employer Size'] %></td>
                                <td><%= employer['Current Name'] %></td>
                                <td><%= employer['Submitted After The Deadline']%></td>
                                <td><%= employer['company_id'] %></td>
                                <td>
                                    <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
                                    <a href="/borrar/<%= employer['_id'] %>" class="btn btn-outline-danger bi bi-trash"></a>
                                </td> 
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
            <!-- Paginas cambio de cada una-->
            <div>
              <% if (currentPage > 1) { %>
                <a href="/info?page=1">Antes</a>
                <% if (currentPage > 3) { %>
                  <span>...</span>
                <% } %>
              <% } %>
              
              <% for (let i = Math.max(1, currentPage - 1); i <= Math.min(currentPage + 1, totalPages); i++) { %>
                <% if (i !== currentPage) { %>
                  <a href="/info?page=<%= i %>"><%= i %></a>
                <% } else { %>
                  <span><%= i %></span>
                <% } %>
              <% } %>
            
              <% if (currentPage < totalPages) { %>
                <% if (currentPage < totalPages - 2) { %>
                  <span>...</span>
                <% } %>
                <a href="/info?page=<%= totalPages %>"><%= totalPages %></a>
              <% } %>
            
              <% if (currentPage < totalPages) { %>
                <a href="/info?page=<%= currentPage + 1 %>">Siguiente</a>
              <% } %>
            </div>            
        </div>
    
  <!-- Modal para Editar-->
  <div id = "modalEmployer" class= "modal fade" tabindex="-1" aria-labelledby="modalEmployer" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Employer</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/editar" method="POST">
            <input type="text" name="id_editar" id="id_editar" hidden>
            <div class="mb-3">
              <label for = "name_edit" class="col-form-label">Employer Name</label>
              <input id="name_edit" name="name_edit" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for = "address_edit" class="col-form-label">Address</label>
              <input id="address_edit" name="address_edit" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for = "post_edit" class="col-form-label">Post Code</label>
              <input id="post_edit" name="post_edit" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for = "meanh_edit" class="col-form-label">dif % In Mean Hourly Wage</label>
              <input id="meanh_edit" name="meanh_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "medianh_edit" class="col-form-label">dif % In Median Hourly Wage</label>
              <input id="medianh_edit" name="medianh_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "meanb_edit" class="col-form-label">dif % In Mean Bonus Received</label>
              <input id="meanb_edit" name="meanb_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "medianb_edit" class="col-form-label">dif % In Median Bonus Received</label>
              <input id="medianb_edit" name="medianb_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "malesr_edit" class="col-form-label">% Males Received Bonus</label>
              <input id="malesr_edit" name="malesr_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "femalesr_edit" class="col-form-label">% Females Received Bonus</label>
              <input id="femalesr_edit" name="femalesr_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propmalesl_edit" class="col-form-label">Proportion Males In Lower Quartile</label>
              <input id="propmalesl_edit" name="propmalesl_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propfemalesl_edit" class="col-form-label">Proportion Females In Lower Quartile</label>
              <input id="propfemalesl_edit" name="propfemalesl_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propmaleslm_edit" class="col-form-label">Proportion Males In Lower Middle Quartile</label>
              <input id="propmaleslm_edit" name="propmaleslm_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propfemaleslm_edit" class="col-form-label">Proportion Females In Lower Middle Quartile</label>
              <input id="propfemaleslm_edit" name="propfemaleslm_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propmalesup_edit" class="col-form-label">Proportion Males In Upper Middle Quartile</label>
              <input id="propmalesup_edit" name="propmalesup_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propfemalesup_edit" class="col-form-label">Proportion Females In Upper Middle Quartile</label>
              <input id="propfemalesup_edit" name="propfemalesup_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propmalestop_edit" class="col-form-label">Proportion Males In Top Quartile</label>
              <input id="propmalestop_edit" name="propmalestop_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "propfemalestop_edit" class="col-form-label">Proportion Females In Top Quartile</label>
              <input id="propfemalestop_edit" name="propfemalestop_edit" type="text" class="form-control" required pattern="[0-9]+(\.[0-9]+)?" title="Please enter a valid number">   
            </div>
            <div class="mb-3">
              <label for = "link_edit" class="col-form-label">Link to Company GPG</label>
              <input id="link_edit" name="link_edit" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for = "resp_edit" class="col-form-label">Responsible Person</label>
              <input id="resp_edit" name="resp_edit" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for = "size_edit" class="col-form-label">Employer Size</label>
              <input id="size_edit" name="size_edit" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for = "current_edit" class="col-form-label">Current Name</label>
              <input id="current_edit" name="current_edit" type="text" class="form-control" value="">
            </div>
            <div class="mb-3">
              <label for="submit_edit" class="col-form-label">Submitted After The Deadline</label>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="submit_edit" name="submit_edit">
                  <label class="form-check-label" for="submit_edit">Yes</label>
              </div>
            </div>
            <div class="mb-3">
              <label for = "company_edit" class="col-form-label">Company ID</label>
              <input id="company_edit" name="company_edit" type="text" class="form-control" value="">
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Cargar Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/extract.js"></script>
</body>
</html>

  <script>
      // Obtén el elemento del enlace "Language"
      var dropdownToggle = document.querySelector('.dropdown-toggle');
  
      // Agrega un event listener para el clic en el enlace
      dropdownToggle.addEventListener('click', function() {
          var dropdownMenu = document.querySelector('.dropdown-menu');
          dropdownMenu.classList.toggle('show');
      });

      function updateLabels(language) {
          var labels = document.querySelectorAll('.form-label');
          labels.forEach(function(label) {
              var id = label.getAttribute('for');
              if (translations[id] && translations[id][language]) {
                  label.textContent = translations[id][language];
              }
          });

          var registerEmployer = document.querySelector('h4');
          if (translations['registerEmployer'] && translations['registerEmployer'][language]) {
              registerEmployer.textContent = translations['registerEmployer'][language];
          }

          var tittle = document.querySelector('h1');
          if (translations['tittle'] && translations['tittle'][language]) {
              tittle.textContent = translations['tittle'][language];
          }
      }

      document.addEventListener('DOMContentLoaded', function() {
          var lang = 'English'; // Cambia esto a 'Español' si quieres que el idioma inicial sea español
          updateLabels(lang);
      });

      var languageButtons = document.querySelectorAll('.dropdown-item');
      languageButtons.forEach(function(button) {
          button.addEventListener('click', function() {
              var language = this.textContent.trim();
              updateLabels(language);
          });
      });
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#search').on('input', function() {
              var searchText = $(this).val().trim().toLowerCase();
              $('#tableEmployer tbody tr').each(function() {
                  var employerName = $(this).find('td:eq(1)').text().trim().toLowerCase();
                  if (employerName.includes(searchText)) {
                      $(this).show();
                  } else {
                      $(this).hide();
                  }
              });
          });
      });
  </script>
  
</body>
</html>